{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Dirac Chart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <!-- JQuery 3.6.3 -->
    <script src="{% static 'js/jquery-3.6.3.js' %}"></script>
    <!-- JQuery UI for AdminLTE-->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <!-- Moment JS -->
    <script src="{% static 'js/moment.min.js' %}"></script>
    <!-- PapaParse -->
    <script src="{% static 'js/papaparse.js' %}"></script>
    <!-- Bootstrap Bundle -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- FontAwesome -->
    <link href="{% static 'js/fontawesome-free-6.3.0-web/css/all.min.css' %}" rel="stylesheet" />
    <!-- DateRangePicker -->
    <link href="{% static 'js/daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
    <script src="{% static 'js/daterangepicker/daterangepicker.js' %}"></script>
    <!-- HighCharts v11.0.1 -->
    <script src="{% static 'js/highcharts_v.11.0.1.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    <script src="{% static 'js/boost.js' %}"></script>
    <!-- Plotly.js -->
    <script src="{% static 'js/plotly-2.35.2.min.js' %}"></script>
    <!-- Draggable Legend -->
    <script src="/static/js/draggable-legend.js?v=1.3.9"></script>
    <!-- DataTables -->
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/vfs_fonts.js' %}"></script>
    <!-- OverlayScrollbars -->
    <link href="{% static 'css/OverlayScrollbars.min.css' %}" rel="stylesheet" />
    <!-- AdminLTE v3.2.0 -->
    <link href="{% static 'css/adminlte-3.2.0.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/adminlte-3.2.0.js' %}"></script>
    <!-- Custom styles -->
    <link href="/static/css/custom/app.css?v={{ randint }}" rel="stylesheet" />
    <!-- Custom functions -->
    <script src="/static/js/custom/app.js?v={{ randint }}"></script>
    <script src="/static/js/custom/visualization.js?v={{ randint }}"></script>
</head>

<!--<body class="sidebar-mini layout-fixed bg-white" style="height: auto;">-->

<body class="sidebar-mini bg-white">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="input-group">
                        <label class="input-group-text" for="select_y_value">
                            <span><i class="fa-solid fa-paintbrush"></i> Select Y value</span>
                        </label>
                        <select id="select_y_value" class="form-control">
                            <option selected value="diracWT">DIRAC WallTime</option>
                            <option value="realWT">Real WallTime</option>
                            <option value="other">Real WallTime / CPU Time</option>
                        </select>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="input-group">
                        <label class="input-group-text" for="select_marker_size">
                            <span><i class="fa-solid fa-paintbrush"></i> Color by</span>
                        </label>
                        <select id="select_colorBy" class="form-control">
                            <option selected value="site">SITE</option>
                            <option value="owner">OWNER</option>
                            <option value="status">STATUS</option>
                            <option value="hostname">HOSTNAME</option>
                            <option value="job_group">JOB GROUP</option>
                            <option value="cpu_model">CPU MODEL</option>
                        </select>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="input-group">
                        <label class="input-group-text" for="select_marker_size">
                            <span><i class="fa-solid fa-circle-dot"></i> Marker size</span>
                        </label>
                        <input id="select_marker_size" class="flex-grow-1 mx-1" type="range" min="0.1" step="0.1" max="5">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span id="marker_size_value" class="badge align-middle text-md bg-primary"></span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li id="li_recent_actions" class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown" href="#">
                        <i class="fa-solid fa-list-ol"></i>
                        <span class="badge badge-primary navbar-badge">0</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right text-sm">
                        <span class="dropdown-item dropdown-header">Recent actions <i
                                class="fa-solid fa-arrow-down-long"></i></span>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-secondary">
            <a href="/" class="brand-link">
                <span class="brand-text font-weight-light">Dirac-Chart</span>
            </a>
            <div class="brand-link">
                <button id="btn_load_all" class="btn btn-success btn-sm">Load All</button>
                <button id="btn_load_filtered" class="btn btn-primary btn-sm">Load filtered</button>
                <button id="btn_reset" class="btn btn-danger btn-sm">Reset</button>
            </div>
            <div class="sidebar overflow-auto">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar nav-compact flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fa-regular fa-calendar-days"></i>
                                <p>
                                    Time
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <div id="reportrange" class="input-group-text">
                                        <span></span> <i class="fa fa-caret-down"></i>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fa-solid fa-server"></i>
                                <p>
                                    Site
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul id="site-selector" class="nav nav-treeview">
                                <div class="form-inline margin">
                                    <span class="badge">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1"
                                                id="btn_select_all_sites" checked>
                                            <label class="form-check-label text-primary text-md">All</label>
                                        </div>
                                    </span>
                                    <span class="badge ml-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1"
                                                id="btn_select_none_sites">
                                            <label class="form-check-label text-light text-md">None</label>
                                        </div>
                                    </span>
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fa-solid fa-user"></i>
                                <p>
                                    Owner
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul id="owner-selector" class="nav nav-treeview">
                                <div class="form-inline margin">
                                    <span class="badge">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio2"
                                                id="btn_select_all_owners" checked>
                                            <label class="form-check-label text-primary text-md">All</label>
                                        </div>
                                    </span>
                                    <span class="badge ml-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio2"
                                                id="btn_select_none_owners">
                                            <label class="form-check-label text-light text-md">None</label>
                                        </div>
                                    </span>
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fa-solid fa-hourglass-end"></i>
                                <p>
                                    Status
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul id="status-selector" class="nav nav-treeview">
                                <div class="form-inline margin">
                                    <span class="badge">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio3"
                                                id="btn_select_all_statuses" checked>
                                            <label class="form-check-label text-primary text-md">All</label>
                                        </div>
                                    </span>
                                    <span class="badge ml-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio3"
                                                id="btn_select_none_statuses">
                                            <label class="form-check-label text-light text-md">None</label>
                                        </div>
                                    </span>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div id="data_loading_preloader">
                                <div class="semilayer"></div>
                                <div id="spinner">
                                    <p>loading</p>
                                    <span></span>
                                </div>
                            </div>
                            <figure class="highcharts-figure">
                                <div id="masterdetail-container" style="position: relative;"></div>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <figure class="highcharts-figure"></figure>
                            <div id="duration-container" style="position: relative;"></div>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <figure class="highcharts-figure"></figure>
                            <div id="durationCount-container" style="position: relative;"></div>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="datatable" class="table table-bordered table-hover"></table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

<script>
    var DiracChart = new App();
    DiracChart.StartApp();
</script>

</html>